.Imagee{
    height: 380px;
    width: 450px;
}
.main{
    background-color: whitesmoke;
}
.icon{
    text-align: center;
}
.Thi-img{
    height: 48vh;
}
.Blur{
    text-align: center;
}
.Blurr{
    text-align: end;
}
.Last-Img{
    height: 360px;
    width: 300px;
}